.text {
  font-size: 24px;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.gridContainer {
  margin-top: 24px;
  display: grid;
  grid-template-areas:
          "area1 area2"
          "area1 area3"
          "area1 area4"
          "area5 area6";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 80px 104px 304px;
  gap: 24px;
}

.gridItem {
  padding: 24px;
  background-color: #F9F9FB;
  border-radius: 12px;
  border: 1px solid #EEEFF5;
  display: flex;
  gap: 40px;

  &.gridItem1 {
    grid-area: area1;
  }

  &.gridItem2 {
    grid-area: area2;
    justify-content: space-between;
  }

  &.gridItem3 {
    grid-area: area3;
    justify-content: space-between;
  }

  &.gridItem4 {
    grid-area: area4;
  }

  &.gridItem5 {
    grid-area: area5;
  }

  &.gridItem6 {
    grid-area: area6;
  }
}

.properties {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1 1 50%;
}

.title {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
}

.iconBox {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #6960D7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tinyBarChart {
  flex: 1 1 50%;
  display: flex;
  align-items: end;
}

.description {
  margin: 16px 0 40px 0;
  max-width: 228px;
}

.countBox {
  margin: 0 0 48px 0;
  padding: 6px 16px;
  border: 1px dashed #272543;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.countValue {
  font-size: 32px;
  font-weight: 700;
  color: #6960D7;
}

.countText {
  max-width: 48px;
  color: #6960D7;
}

.description2 {
  margin: 16px 0 104px 0;
  max-width: 220px;
}

.legend {
  display: flex;
  gap: 24px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.oval {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #6960D7;
}

.gridItemBox {
  display: flex;
  align-items: center;
  gap: 28px;
}

.bigPie {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linearProgressLegend {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.linearProgressLegendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltipHomeLogo {
  width: 230px;
  padding: 16px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &.p {
    font-size: 14px;
    color: #272543;
  }

   span {
    font-size: 14px;
    font-weight: 700;
    color: #272543;
  }
}

.reportedCount {
  font-size: 20px;
  font-weight: 700;
}

.fromPatients {
  margin-top: 4px;
  color: #A1A0AF;
}



