.text {
  font-size: 24px;
  font-weight: 700;
}

.icons {
  display: flex;
  gap: 16px;
}

.medicationHeaderCell {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;

  :last-child {
    font-weight: 400;
  }
}

.symptomsHeaderCell {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;

  :last-child {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;

    :hover {
      fill: #272543;
    }
  }
}

.physicalWellbeingHeaderCell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  :last-child {
    font-weight: 400;
  }
}

.moodHeaderCell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  :last-child {
    font-weight: 400;
  }
}

.nameCell {
  font-weight: 700;
}

.medicationAdherenceHeaderCell {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  :last-child {
    font-weight: 400;
  }
}

.medicationCell {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  :last-child {
    color: #A1A0AF;
  }
}

.symptomsCell {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  * {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.viewDetailsCell {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 8px;
  background-color: #ECE9FF;
  border-radius: 20px;
  cursor: pointer;
}

.medicationAdherenceCell {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #6079D7;
}

.moodCell {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #797882;
}

.physicalWellbeingCell {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #797882;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symptomsTooltip {
  padding: 8px;
  font-weight: 700;
  background-color: #272543;
  display: flex;
  flex-direction: column;
  gap: 12px;

  & div {
    display: flex;
    gap: 6px;
  }
}